{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div id="about">
    <div class="aboutCon">
        <div class="rowCol">
            <div class="imgCon">
                <img src="{% static 'images/me1.png' %} ">
            </div>
            <div class="info">
                <div>
                    <p><span>Birthday: </span>&emsp;&emsp;February 06, 2001</p>
                    <p><span>Age:</span> &emsp;&emsp;&emsp;&emsp;22 years old</p>
                    <p><span>Address:</span>&emsp;&emsp;&nbsp;Las Piñas City</p>
                    <p><span>Hometown:</span>&emsp;Bacoor Cavite</p>
                    <p><span>Email:</span>&emsp;&emsp;&emsp;silotrhaprhap@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="rowCol">
            <div class="description">
                <h1>Learn More About Me</h1>
                <p>
                    &emsp; &emsp;Hello everyone! I'm Rhap - Rhap Silot, 22 years old from Las Piñas City. I'm
                    2<sup>nd</sup> year
                    college taking a course of Bachelor of Science in Information Technology at Cavite State
                    University Bacoor - Campus.
                    Passionate about all things tech, I'm diving into the world of information technology to
                    explore
                    programming, networks, and everything in between.
                    Eager to learn, collaborate, and contribute to the evolving landscape of IT. Excited to
                    be part
                    of this community!
                </p>
            </div>
            <div class="progressBar">
                <h1>Tech Stacks</h1>
                <div>
                    <h3>HTML</h3>
                    <div class="bar html"><span></span>
                        <p>40%</p>
                    </div>
                </div>
                <div>
                    <h3>CSS</h3>
                    <div class="bar css"><span></span>
                        <p>20%</p>
                    </div>
                </div>
                <div>
                    <h3>JAVASCRIPT</h3>
                    <div class="bar js"><span></span>
                        <p>20%</p>
                    </div>
                </div>
                <div>
                    <h3>JAVA</h3>
                    <div class="bar java"><span></span>
                        <p>20%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="resumelistCol">
        <h1 class="subtitles">Educational Background</h1>
        <div class="subRow">
            <h2>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</h2>
            <h3>2021 - Present</h3>
            <h5>Cavite States University - Bacoor Campus</h5>
        </div>
        <h1 class="subtitles">Professional Background</h1>
        <div class="subRow">
            <h2>FINAL PROJECT (Attendance Management System)</h2>
            <h3>2024</h3>
            <h5>Cavite States University - Bacoor Campus</h5>
        </div>
        <div class="subRow">
            <h2>FINAL PROJECT (Library Management System)</h2>
            <h3>2024</h3>
            <h5>Cavite States University - Bacoor Campus</h5>
        </div>
        <div class="subRow">
            <h2>FINAL PROJECT (CentiWellness Management System)</h2>
            <h3>2024</h3>
            <h5>Cavite States University - Bacoor Campus</h5>
        </div>
        <div class="subRow">
            <h2>FINAL PROJECT (Student Portal)</h2>
            <h3>2023</h3>
            <h5>Cavite States University - Bacoor Campus</h5>
        </div>
        <div class="subRow">
            <h2>FINAL PROJECT (SNAKE GAME)</h2>
            <h3>2021</h3>
            <h5>Cavite States University - Bacoor Campus</h5>
        </div>
        <div class="subRow">
            <h2>Class Schedule (ACTIVITY)</h2>
            <h3>2023</h3>
            <h5>Cavite States University - Bacoor Campus</h5>
        </div>
    </div>
</div>
{% endblock content %}